*.pyc
*.so
*.pyd
*~
.#*
*.lprof
*.swp
*.swo
.DS_Store

# ignored dirs
build
dist
doc/doc
rankeval.egg-info

# ipython files
.ipynb_checkpoints
*.ipynb

*.prefs
.pydevproject
.idea

# ignored files
distribute-*

# auto compiled files
rankeval/core/scoring/_efficient_scoring.c
